# Dependencies
node_modules/

# Environment variables
.env

# Coverage directory used by tools like istanbul
coverage/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db